.btn {
    display: inline-block;
    float: left;
    padding: 10px 30px;
    opacity: 0.9;
    background-color: var(--secondary-color);
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px  #0008 ;
}

    .btn:hover {
        box-shadow: 0 4px 10px  #000a ;
        opacity: 1;
    }