/* Custom components in css  */

/* layout */
.container.hero {
    padding-bottom: var(--section-padding);
}

footer.container {
    padding-top: 0;
    padding-bottom: calc(var(--section-padding) * 1.5);
}
    footer.container > .row-short {
        margin-top: var(--section-padding);
    }

.bg-main-color {
    background-color: var(--main-color);
}

/* Hero content */
.hero{
    text-align: center;
}
.hero img {
    height: 40px;
    color: black;
    margin-bottom: calc(var(--hero-space) * 2);
}

.hero h1 {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: var(--hero-space);
}



.hero p {
    width: 100%;
    display: inline-block;
    font-size: 18px;
    color:#555 ;
    margin-bottom: calc(var(--hero-space) * 3);
}

.hero .clock {
    margin-bottom: calc(var(--hero-space) * 2 );
}

.hero .form {
    margin-bottom: var(--hero-space);
}



/* Main content */

main h2 {
    display: inline-block;
    width: 100%;
    margin-bottom: var(--main-space);
    font-size: 21px;
    text-transform: uppercase;
}

main p {
    display: inline-block;
    width: 100%;
    margin-bottom: var(--main-space);
    font-size: 18px;
    line-height: 26px;
    color: #555;
   
}

    main p > a {
        color: var(--secondary-color);
        text-decoration: none;
    
    }



/* FOoter conttent */
footer {
    text-align: center;
    line-height: 32px;
    font-size: 17px;
    color: #fffa;
}
    footer > .row {
        border-bottom: 1px solid white;
    }

    footer .text-trio > .text {
        padding: 0 10px;
        display: inline-block;
        position: relative;
    }

        footer .text-trio > .text::before {
            display: inline-block;
            content: '';
            width: 1px;
            height: 14px;
            background-color: #fff;
            position: absolute;
            left: -2px;
            top:50%;
            transform: translateY(-50%);
        }

        footer .text-trio > .text:first-of-type::before {
            display: none;
            
        }
    footer p {
         display: inline-block;
         width: 100%;   
    }

    footer a {
        color: #fff;

    }

